{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <h1>{{ data.film.titre }}</h1>
    {% for seance in data.seances %}
        <p>Date : {{ seance.dateProjection | date("d/m/Y, H:i") }}</p>
    {% endfor %}
{% endblock %}
